.groups
  .group
    = link_to do
      .group__name
        %p 青丹よし
      .group__message
        %p 青丹よし奈良の都は咲く花の匂うがごとく今盛りなり
  .group
    = link_to do
      .group__name
        %p あをによし
      .group__message
        %p あをによし奈良の都は咲く花の匂ふがごとく今盛りなり

