!!!

.messages.js-messages
  .message
    .upper-message
      .upper-message__user-name
        %p sentokun
      .upper-message__date
        2018/11/28 04:14
    .lower-message
      .lower-message__content
        %p あをによし奈良の都は咲く花の匂うが如く今盛りなり
  .message
    .upper-message
      .upper-message__user-name
        %p maiukawa
      .upper-message__date
        2018/11/28 04:14
    .lower-message
      .lower-message__content
        %p 久方の光のどけき春の日に静心なく花の散るらむ
