$TEXT-COLOR         : #434a54;


.messages {
  background-color: #AAA;
  box-sizing: border-box;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
  padding: 46px 40px 0;
  .message {
    margin-bottom: 40px;
    .upper-message {
      display: flex;
      &__user-name {
        color: $TEXT-COLOR;
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        color: $TEXT-COLOR;
        font-size: 14px;
        margin-bottom:10px;
      }
    }
  }
}
