@import "mixin/mixin";
@import "variable";




.notification {
  color: white;
  background-color: $BLUE_BUTTON;
  text-align: center;
  margin-bottom: 0;
}
.wrapper {
  display: flex;
}
@import 'modules/side_bar'

